block vars
    -
        /**
         * @type {Array.<Object>} —
         * List of letter data
         */
        var dataN =
            [
                {
                    "lang": "ru",
                    "site": "https://fbs.com",
                    "rtl": "",
                    "header": "Don’t miss your chance to spend a fantastic weekend in Rio de Janeiro",
                    "preheader": "Read the e-mail to learn the details and participate in a special FBS promotion",
                    "p0": "Здравствуйте, Алексей!",
                    "p1": "Отчёт об активности на торговом счёте за 05.05.16",
                    "p2": "Представляем Вашему вниманию информацию о транзакциях и средств. ",
                    "p3": "В связи с высокой активностью вашей торговли, мы высылаем отчет в архиве.",
                    "p4": "Чтобы просмотреть отчет, пожалуйста, скачайте файл и разархивируйте его.",
                    "p5": "С наилучшими пожеланиями! Компания FBS.",
                    "p6": "Вы подписались на рассылку отчетов от Метатрейдера, когда регистрировались на сайте <a href=\"\" target=\"_blank\">fbs.com</a>.Если считаете, что рассылка происходит часто, Вы можете изменить расписание на отчет раз в день, раз в неделю или раз в месяц на данной странице <a href=\"\" target=\"_blank\">(ссылка)</a>.Так же Вы можете отписаться и больше НИКОГДА не сможете получить отчетов о своей активности на бирже. ",
                },
            ]

        /**
         *	@constant
         *	@type {boolean} email client
         */
        var GR = true;
        var EMS = false;
        var IF = false;

        /**
         * @type {string} date
         * — actual date
         */
        var date = '0809';

        /**
         * @type {string} task —
         * task name
         */
        var task = 'em232';

        /**
         * @constant
         * @type {string} LETTERNAME —
         * title for ems
         * Leave empty if this === task
         */
        var LETTERNAME = '';

        /**
         *
         * @type {Object}
         */
        var topBanner =
            {
                "left": "img/left.png",
                "right": "img/right.png",
                "height": "257"
            }

        var small_icons =
            [
                {
                    "img": "img/score.png",
                    "title": "Счет",
                    "text": "4586475423 micro "
                },
                {
                    "img": "img/bonus.png",
                    "title": "Бонус",
                    "text": "123"
                }
            ]

        var icons =
            [
                {
                    "img": "img/go_to_site.png",
                    "text": "Перейти на сайт"
                },
                {
                    "img": "img/personal_area.png",
                    "text": "Личный кабинет"
                },
                {
                    "img": "img/add_score.png",
                    "text": "Пополнить счет"
                },
                {
                    "img": "img/question.png",
                    "text": "Задать вопрос"
                }
            ]


extends ../../framework/_layout

mixin footer_menu(icons)
    tr.footer_menu
        td
            table
                tr
                    each icon in icons
                        td
                            img(src=icon.img)
                tr
                    each icon in icons
                        td !{icon.text}

mixin footer_block(text)
    tr
        td
            div.footer_block
                table
                    tr
                        td
                            span.footer_text !{text}

mixin signature(text)
    tr
        td
            div.signature_block
                table
                    tr
                        td !{text}

mixin header_menu(small_icons)
    tr.header_menu
        td
            table
                tr
                    each icon in small_icons
                        td
                            img(src=icon.img)
                            span
                                span.title
                                    | !{icon.title}:
                                span.text
                                    | !{icon.text}

//- CURRENT TEMPLATE
mixin letter(prop)
     each prop_item, index in prop
        if GR && IF
            +ifelse(prop_item, index, prop)
        table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" id="wrapperTable" dir="#{(prop_item.rtl) ? 'rtl' : 'ltr'}")
            +preheader(prop_item)
            //-
                Border color map
                "trans" (default),"trig", "promo", "news"
            +startBanner (prop_item, topBanner)

        +table({
            "class": "contentTb",
            "id": "wrapperTable",
            "dir": (prop_item.rtl) ? 'rtl' : 'ltr',
            "align": "left",
            "width": "600"
        })
            +h1(prop_item)
                | !{prop_item.p0}
            +header_menu(small_icons)
            +h1(prop_item)
                | !{prop_item.p1}
            +text(prop_item)
                | !{prop_item.p2}
            +text(prop_item)
                | !{prop_item.p3}
            +text(prop_item)
                | !{prop_item.p4}
            +signature(prop_item.p5)
            +footer_menu(icons)
            +footer_block(prop_item.p6)

//- PRODUCTION
block letter
    +letter(ru)


