/*********************************
** CORE
*********************************/

html,
body
{
    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;
}
/* Resets all body margins and padding to 0 for good measure */

body
{
    /* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;

        background-color: white;
}

table td
{
    border-spacing: 0;
    border-collapse: collapse;



    border: 0 none;
}
/*This resolves the Outlook 07, 10, and Gmail td padding issue. Heres more info: http://www.ianhoar.com/2008/04/29/outlook-2007-borders-and-1px-padding-on-table-cells http://www.campaignmonitor.com/blog/post/3392/1px-borders-padding-on-table-cells-in-outlook-07 */

img
{
    line-height: 100%;

    height: auto;

    text-decoration: none;

    border: 0 none;
    outline: none;
    font-size:16px;
    white-space:pre;
}

a img
{
    border: 0 none;
}

.img-block
{
    display: block;
}
.img-responsive img
{
    width: 100%;
    height: auto;
}

table,
td
{
    border-collapse: collapse;
}

#backgroundTable
{
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;

    table-layout: fixed;

    background-color: white;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}



$baseFontFamily: Arial, Helvetica, sans-serif;

@mixin fontFamily($fontFamily)
{
    font-family: $fontFamily;
}


td div
{
    line-height: 1.2;

    @include fontFamily($baseFontFamily);
}

#wrapperTable
{
    background-color: #fff;
}


#wrapperTable > tr > td:not(.fluid)
{
    padding-right: 60px;
    padding-left: 60px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}


/*********************************
** ELEMENTS
*********************************/
.topic {


    td {
        font-size: 0;
        color: #ffffff;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    &--news {
        background-color: #65a33e;
    }
    & div {
        line-height: 22px;
    }
}

.h1
{
    font-size: 24px;

    padding-bottom: 10px;
    div
    {
        line-height: 28px;

        color: #414141;
    }
}


.h2
{
    font-size: 16px;
    font-weight: bold;

    //padding-bottom: 10px;

    padding-bottom: 5px;
    // &--list
    // {
    //     padding-bottom: 0;
    // }
    div
    {
        line-height: 21px;

        color: #414141;
    }
}
.text
{
    font-size: 14px;

    padding-bottom: 10px;
    div
    {
        line-height: 20px;

        color: #808080;
    }
}
.list {
    font-size: 14px;

    padding-bottom: 15px;
    div
    {
        line-height: 20px;

        color: #808080;
    }
}

.link
{
    text-decoration: none;

    color: #4b9bce;
}
.link-alt {
  text-decoration: none;
  color: #808080;
}

/*********************************
** FOOTER
*********************************/

#footerTable
{
    font-size: 11px;

    color: #4b4b4b;
    @include fontFamily($baseFontFamily);
    a
    {
        text-decoration: none;
        @include fontFamily($baseFontFamily);

        color: #85c0e1;
    }
}


.banner img {
    display: block;
    padding-bottom: 20px;
}




/*********************************
// ** CORE
// *********************************/

$baseFontSize: 10px;
// $baseLineHeight: 1.2;
// $horPaddings: $baseFontSize  * 1.5;
$baseFontFamily: Arial, Helvetica, sans-serif;



// /*********************************
// ** ELEMENTS
// *********************************/

.contentTb > tr:first-child > td  {
    padding-top: 35px;
}
.contentTb > tr:last-child > td:not(.img-responsive)  {
    padding-bottom: 35px;
}


// table

.tb
{
    font-size: 12px;

    color: #808080;
}
.tb > tr:first-child > td
{
    font-size: 12px;
    font-weight: bold;

    padding-bottom: 15px;
}
.tb div
{
    line-height: 15px;
}
.tb > tr > td
{
    font-size: 14px;

    width: 33%;
    padding-top: 17px;
    padding-bottom: 13px;


    text-align: left;
    vertical-align: middle;

    border-bottom: 1px solid #ebebeb;
}
.tb > tr > td:first-child {
    padding-right: 5px;
    padding-left:0;
}
.tb > tr > td:last-child {
    padding-left: 5px;
    padding-right:0;
}
.tb > tr > td {
    padding-left: 5px;
    padding-right: 5px;
}
.tb__wrapper
{
    padding-top: 0;
    padding-bottom: 25px;
}

/*Table styles for statement*/

td.fluid {
    table {
      margin-top: -6px;
    }
}

tr.footer_menu  {
  table {
    width: 600px;
    height: 107px;
    background-color: #558834;
    padding: 20px 20px 20px 20px;
  }
}

#wrapperTable > tr.footer_menu > td:not(.fluid) {
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    table {
        border-collapse: separate;
    }
}

#wrapperTable > tr.header_menu > td:not(.fluid) {
    table {
      margin-left: -60px;
    }
    img {
        padding: 20px;
    }
    font-size: 14px;
    span {
        vertical-align: 30px;
        .title {
            color: #808080;
            font-family: Arial, Helvetica, sans-serif;
            vertical-align: 0;
        }
        .text {
            vertical-align: 0;
        }
    }
}

.contentTb {
  td {
    div {
      color: black;
      margin-left: -40px;
    }
  }
}

.signature_block {
  margin-top: 20px;
}

.footer_block {
    margin-top: 20px;
    .footer_text {
       color: #808080;
       font-family: Tahoma, Arial, sans-serif;
       font-size: 11px;
       line-height: 0;
   }
}

